
<h3>Ask your coach anything:</h3>
<form class="input-group" action="/answer" method="get" data-turbo="false">
  <input class="form-control" type="text" name="answer" >
  <input class="btn btn-outline-secondary"type="submit" value="Ask!">
</form>
